body {
	font-family: 'Sedgwick Ave', 'Sedgwick Ave Display', cursive, sans-serif;
	background-color: powderblue;
	background-image: url("../images/swbackground.jpg");
}

.tc-jumbotron {
	height: 8em;
	background-color: lightblue;
	font-family: 'Sedgwick Ave Display', cursive, sans-serif;
}

.tc-text-center {
	margin-top: -30px;
}

.tc-btn {
	height: 124px;
	width: 124px;
	margin-right: 5px;
}

img {
	height: 100px;
	width: 	100px;
}

#instructions p {
  line-height: 	80%;
}

.panel .panel-heading {
	background-color: 	lightblue;
}